<a href="https://colab.research.google.com/github/dushyantsinghraghav/ETL-impementation/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
#Reading the diversity.csv dataset 
diversity_df=pd.read_csv("diversityindex.csv")
diversity_df.head

<bound method NDFrame.head of                             Location  ...  White alone, not Hispanic or Latino, percent, 2013
0     Aleutians West Census Area, AK  ...                                               29.2
1                  Queens County, NY  ...                                               26.7
2                    Maui County, HI  ...                                               31.5
3                 Alameda County, CA  ...                                               33.2
4         Aleutians East Borough, AK  ...                                               12.9
...                              ...  ...                                                ...
3190                Osage County, MO  ...                                               98.1
3191              Lincoln County, WV  ...                                               98.2
3192               Leslie County, KY  ...                                               98.2
3193               Blaine County, NE  ...                                               98.8
3194            Keya Paha County, NE  ...                                               98.9

[3195 rows x 9 columns]>

In [5]:
diversity_df.describe().transpose()
#diversity df has 8 columns/features

                                                     count  ...        max
Diversity-Index                                     3195.0  ...   0.769346
Black or African American alone, percent, 2013      3195.0  ...  85.300000
American Indian and Alaska Native alone, percen...  3195.0  ...  92.900000
Asian alone, percent, 2013                          3195.0  ...  42.600000
Native Hawaiian and Other Pacific Islander alon...  3195.0  ...  47.800000
Two or More Races, percent, 2013                    3195.0  ...  29.500000
Hispanic or Latino, percent, 2013                   3195.0  ...  95.700000
White alone, not Hispanic or Latino, percent, 2013  3195.0  ...  98.900000

[8 rows x 8 columns]

In [6]:
#Similarly we read the median income by country dataset
median_income_df=pd.read_csv("2015 Median Income by County.csv")
median_income_df.head

<bound method NDFrame.head of                           County-State               County  ...  State Code    State
0              Autauga County, Alabama       Autauga County  ...          AL  Alabama
1              Baldwin County, Alabama       Baldwin County  ...          AL  Alabama
2              Barbour County, Alabama       Barbour County  ...          AL  Alabama
3                 Bibb County, Alabama          Bibb County  ...          AL  Alabama
4               Blount County, Alabama        Blount County  ...          AL  Alabama
...                                ...                  ...  ...         ...      ...
3215  Vega Baja Municipio, Puerto Rico  Vega Baja Municipio  ...          WY  Wyoming
3216    Vieques Municipio, Puerto Rico    Vieques Municipio  ...          WY  Wyoming
3217   Villalba Municipio, Puerto Rico   Villalba Municipio  ...          WY  Wyoming
3218    Yabucoa Municipio, Puerto Rico    Yabucoa Municipio  ...          WY  Wyoming
3219      Yauco Municipio, Puerto Rico      Yauco Municipio  ...          WY  Wyoming

[3220 rows x 6 columns]>

In [7]:
#Getting all the important details about median_income_df
median_income_df.describe().transpose()
#median income has two features/columns

                          count          mean  ...      75%         max
Population               3220.0  99409.345963  ...  66430.5  10038388.0
Median household income  3219.0  46129.868903  ...  52074.0    123453.0

[2 rows x 8 columns]

In [8]:
median_income_df.isna().sum()
#we look for th na in the median_income_df 
#Median household income has one missing value

County-State               0
County                     0
Population                 0
Median household income    1
State Code                 0
State                      0
dtype: int64

In [14]:
#Similarly we look for the missing values in diversity_df dataset
diversity_df.isna().sum()
#Diversity df has no missing value

Location                                                      0
Diversity-Index                                               0
Black or African American alone, percent, 2013                0
American Indian and Alaska Native alone, percent, 2013        0
Asian alone, percent, 2013                                    0
Native Hawaiian and Other Pacific Islander alone, percent,    0
Two or More Races, percent, 2013                              0
Hispanic or Latino, percent, 2013                             0
White alone, not Hispanic or Latino, percent, 2013            0
dtype: int64

In [12]:
new_df=diversity_df.copy()
print(diversity_df.columns)
new_df['County'],new_df['State'] = diversity_df['Location'].str.rsplit(', ').str
new_df.head()

Index(['Location', 'Diversity-Index',
       'Black or African American alone, percent, 2013',
       'American Indian and Alaska Native alone, percent, 2013',
       'Asian alone, percent, 2013',
       'Native Hawaiian and Other Pacific Islander alone, percent,',
       'Two or More Races, percent, 2013', 'Hispanic or Latino, percent, 2013',
       'White alone, not Hispanic or Latino, percent, 2013'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  This is separate from the ipykernel package so we can avoid doing imports until

                         Location  ...  State
0  Aleutians West Census Area, AK  ...     AK
1               Queens County, NY  ...     NY
2                 Maui County, HI  ...     HI
3              Alameda County, CA  ...     CA
4      Aleutians East Borough, AK  ...     AK

[5 rows x 11 columns]

In [13]:
new_df2 = pd.DataFrame({"Diversity-Index":new_df.groupby(["State","County"])["Diversity-Index"].mean(),
                       "Black":new_df.groupby(["State","County"])["Black or African American alone, percent, 2013"].mean(),
                       "American Indian":new_df.groupby(["State","County"])["American Indian and Alaska Native alone, percent, 2013"].mean(),
                       "Asian":new_df.groupby(["State","County"])["Asian alone, percent, 2013"].mean(),
                       "Native Hawaiian":new_df.groupby(["State","County"])["Native Hawaiian and Other Pacific Islander alone, percent,"].mean(),
                       "Two or More Races":new_df.groupby(["State","County"])["Two or More Races, percent, 2013"].mean(),
                       "Hispanic/ Latino":new_df.groupby(["State","County"])["Hispanic or Latino, percent, 2013"].mean(),
                       "White":new_df.groupby(["State","County"])["White alone, not Hispanic or Latino, percent, 2013"].mean()})

In [14]:
new_df2

                                  Diversity-Index  ...  White
State County                                       ...
AK    Aleutians East Borough             0.738867  ...   12.9
      Aleutians West Census Area         0.769346  ...   29.2
      Anchorage Municipality             0.601515  ...   60.5
      Bethel Census Area                 0.315556  ...   11.5
      Bristol Bay Borough                0.648271  ...   45.3
...                                           ...  ...    ...
WY    Sweetwater County                  0.340296  ...   79.6
      Teton County                       0.325230  ...   80.7
      Uinta County                       0.225552  ...   87.5
      Washakie County                    0.296868  ...   82.6
      Weston County                      0.147697  ...   92.2

[3143 rows x 8 columns]

#Unemployment rate dataset

In [16]:
unemp_df=pd.read_csv("unemplyment_rate.csv")

In [17]:
unemp_df.head()

   Year     Month        State         County  Rate
0  2015  February  Mississippi  Newton County   6.1
1  2015  February  Mississippi  Panola County   9.4
2  2015  February  Mississippi  Monroe County   7.9
3  2015  February  Mississippi   Hinds County   6.1
4  2015  February  Mississippi  Kemper County  10.6

In [18]:
unemp_df = unemp_df[['County', "State", 'Rate']].copy()
unemp_df.head()

          County        State  Rate
0  Newton County  Mississippi   6.1
1  Panola County  Mississippi   9.4
2  Monroe County  Mississippi   7.9
3   Hinds County  Mississippi   6.1
4  Kemper County  Mississippi  10.6

In [19]:
us_state_abbrev = {
   'Alabama': 'AL',
   'Alaska': 'AK',
   'Arizona': 'AZ',
   'Arkansas': 'AR',
   'California': 'CA',
   'Colorado': 'CO',
   'Connecticut': 'CT',
   'Delaware': 'DE',
   'Florida': 'FL',
   'Georgia': 'GA',
   'Hawaii': 'HI',
   'Idaho': 'ID',
   'Illinois': 'IL',
   'Indiana': 'IN',
   'Iowa': 'IA',
   'Kansas': 'KS',
   'Kentucky': 'KY',
   'Louisiana': 'LA',
   'Maine': 'ME',
   'Maryland': 'MD',
   'Massachusetts': 'MA',
   'Michigan': 'MI',
   'Minnesota': 'MN',
   'Mississippi': 'MS',
   'Missouri': 'MO',
   'Montana': 'MT',
   'Nebraska': 'NE',
   'Nevada': 'NV',
   'New Hampshire': 'NH',
   'New Jersey': 'NJ',
   'New Mexico': 'NM',
   'New York': 'NY',
   'North Carolina': 'NC',
   'North Dakota': 'ND',
   'Ohio': 'OH',
   'Oklahoma': 'OK',
   'Oregon': 'OR',
   'Pennsylvania': 'PA',
   'Rhode Island': 'RI',
   'South Carolina': 'SC',
   'South Dakota': 'SD',
   'Tennessee': 'TN',
   'Texas': 'TX',
   'Utah': 'UT',
   'Vermont': 'VT',
   'Virginia': 'VA',
   'Washington': 'WA',
   'West Virginia': 'WV',
   'Wisconsin': 'WI',
   'Wyoming': 'WY',
}

In [20]:
unemp_df2 = unemp_df

In [21]:
for key, value in us_state_abbrev.items():
    unemp_df2.loc[unemp_df2['State']==key,'State'] = value

In [22]:
unemp_df2.head()

          County State  Rate
0  Newton County    MS   6.1
1  Panola County    MS   9.4
2  Monroe County    MS   7.9
3   Hinds County    MS   6.1
4  Kemper County    MS  10.6

In [23]:
unemp_df_new = pd.DataFrame({"Unemployment Rate":unemp_df2.groupby(["State","County"])["Rate"].mean()})

In [24]:
unemp_df_new.head()

                      Unemployment Rate
State County
AL    Autauga County           6.561871
      Baldwin County           6.577698
      Barbour County          10.038849
      Bibb County              9.189928
      Blount County            6.487050

Median Income & Population Dataset

In [25]:
median_inc = median_income_df[['County',"State Code", 'Population',"Median household income"]]
median_inc.head()

           County State Code  Population  Median household income
0  Autauga County         AL       55221                  51281.0
1  Baldwin County         AL      195121                  50254.0
2  Barbour County         AL       26932                  32964.0
3     Bibb County         AL       22604                  38678.0
4   Blount County         AL       57710                  45813.0

In [26]:
median_inc = median_inc.rename(columns={"State Code": "State"})
median_inc_new = pd.DataFrame({"Median household income":median_inc.groupby(["State","County"])["Median household income"].mean(),
                              "Population":median_inc.groupby(["State","County"])["Population"].sum()})

In [27]:
median_inc_new.head()

                                  Median household income  Population
State County
AK    Aleutians East Borough                      61518.0        3304
      Aleutians West Census Area                  84306.0        5684
      Anchorage Municipality                      78326.0      299107
      Bethel Census Area                          51012.0       17776
      Bristol Bay Borough                         79750.0         970

Now we merge the datasets

In [32]:
merged = pd.merge(unemp_df_new,median_inc_new, on=["State",'County'],how="left")

In [33]:
merged.head()

                      Unemployment Rate  Median household income  Population
State County
AL    Autauga County           6.561871                  51281.0     55221.0
      Baldwin County           6.577698                  50254.0    195121.0
      Barbour County          10.038849                  32964.0     26932.0
      Bibb County              9.189928                  38678.0     22604.0
      Blount County            6.487050                  45813.0     57710.0

In [34]:
merged2 = pd.merge(merged,new_df2, on=["State",'County'],how="inner")

In [35]:
merged.head

<bound method NDFrame.head of                          Unemployment Rate  Median household income  Population
State County
AL    Autauga County              6.561871                  51281.0     55221.0
      Baldwin County              6.577698                  50254.0    195121.0
      Barbour County             10.038849                  32964.0     26932.0
      Bibb County                 9.189928                  38678.0     22604.0
      Blount County               6.487050                  45813.0     57710.0
...                                    ...                      ...         ...
WY    Sweetwater County           5.370000                  69022.0     44772.0
      Teton County                4.455714                  75325.0     22311.0
      Uinta County                6.431429                  56569.0     20930.0
      Washakie County             5.237143                  47652.0      8400.0
      Weston County               4.437143                  57738.0      7152.0

[2886 rows x 3 columns]>

In [36]:
merged_final = merged2.reset_index()

In [38]:
merged_final.head()

  State          County  ...  Hispanic/ Latino  White
0    AL  Autauga County  ...               2.7   75.9
1    AL  Baldwin County  ...               4.6   83.1
2    AL  Barbour County  ...               4.8   46.3
3    AL     Bibb County  ...               2.1   74.6
4    AL   Blount County  ...               8.7   87.8

[5 rows x 13 columns]

In [39]:
merged_final = merged_final[["State","County","Population","Median household income","Unemployment Rate",
                            "Diversity-Index","White","Black","Hispanic/ Latino","Asian","American Indian",
                            "Native Hawaiian","Two or More Races"]]
merged_final.head()

  State          County  ...  Native Hawaiian  Two or More Races
0    AL  Autauga County  ...              0.1                1.7
1    AL  Baldwin County  ...              0.1                1.5
2    AL  Barbour County  ...              0.2                0.9
3    AL     Bibb County  ...              0.1                0.9
4    AL   Blount County  ...              0.1                1.1

[5 rows x 13 columns]

In [42]:
merged_final.isna().sum()
#So there are three missing values Median household income

State                      0
County                     0
Population                 2
Median household income    3
Unemployment Rate          0
Diversity-Index            0
White                      0
Black                      0
Hispanic/ Latino           0
Asian                      0
American Indian            0
Native Hawaiian            0
Two or More Races          0
dtype: int64

In [44]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.7 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

#Now we export it to SQL

In [45]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [46]:
engine = create_engine("mysql://root:@localhost/ETLProject")

In [47]:
merged_final_sql = merged_final.rename(columns={"Median household income":"MedianHouseHoldIncome",
                                               "Unemployment Rate":"UnemploymentRate",
                                               "Diversity-Index":"DiversityIndex",
                                               "Hispanic/ Latino":"Hispanic",
                                               "American Indian":"AmericanIndian",
                                               "Native Hawaiian":"NativeHawaiian",
                                               "Two or More Races":"TwoOrMore"})

In [48]:
merged_final_sql.head()

  State          County  Population  ...  AmericanIndian  NativeHawaiian  TwoOrMore
0    AL  Autauga County     55221.0  ...             0.5             0.1        1.7
1    AL  Baldwin County    195121.0  ...             0.7             0.1        1.5
2    AL  Barbour County     26932.0  ...             0.6             0.2        0.9
3    AL     Bibb County     22604.0  ...             0.4             0.1        0.9
4    AL   Blount County     57710.0  ...             0.6             0.1        1.1

[5 rows x 13 columns]

In [49]:
merged_final_sql.to_sql(name='counties', con=engine, if_exists='append', index=False)

OperationalError: ignored